<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271964176052-01up2j43302d4pdg8gc2aia25jbl45rg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271964176052-01up2j43302d4pdg8gc2aia25jbl45rg</string>
	<key>API_KEY</key>
	<string>AIzaSyCzf72_qm-YfAiQrNeSR_q71a9Dd-L-8pE</string>
	<key>GCM_SENDER_ID</key>
	<string>271964176052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Barber.Booking.appoiment.Shop.haircut.Rami</string>
	<key>PROJECT_ID</key>
	<string>bookingsaloonsapps</string>
	<key>STORAGE_BUCKET</key>
	<string>bookingsaloonsapps.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271964176052:ios:1e798fdc4e13007956a1e1</string>
	<key>DATABASE_URL</key>
	<string>https://bookingsaloonsapps-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>